---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";

.site-description {
    margin-bottom: 1em;
    font-family: "Lora", serif;
    font-weight: 400;
    font-style: normal!important;
}